<%
	var conditions = data.conditions ? array(data.conditions['property-value']) : array(undefined);	
	var authors = array(data.article.authors.author);
	var mapping = data.molecule.mapping2 || {};
	var predicate = data.predicate || "=";
	var names = array(data.moleculenames.moleculename);
	var namestr = "";
	var colorinfo_black = "this name has not been verified yet with PubChem";
	var colorinfo_red = "this name does not correspond to first structure hit in PubChem";
	var colorinfo_dark_green = "this name corresponds to first structure hit in PubChem (ignoring stereoisomers)";
	var colorinfo_green = "this name correspond to first structure hit in PubChem";
	var colorinfo_blue = "for this name no structure could be found in PubChem";
	var length = 3;
	var unit = data.unit || {};
	var optionName = (data.option) ? data.option.name : "UNDEFINED";
	var printedValue = data.property.qualitive == "true" ? optionName : data.value;
	if(names.length <= length)
		length = names.length;

%>
<table class="block-table ep">
	<tr>
		<td class="block-image">
			<a onclick="return false;" title="<%=namestr%>"><img src="depiction.jsp?id=<%=data.molecule["id"]%>"/></a>
		</td>
		<td class="block-content" valign="top">
			<div class="conditions">
				<% 
				for (var i = 0; i < conditions.length; i++) { 
					var condvalue = (conditions[i].property.qualitive == "true") ? conditions[i].option.name : conditions[i].value; %>
					<nobr><%=conditions[i].property.name%> = <%=condvalue%></nobr><br/>
				<% } %>
			</div>
			<% if (data["connected_id"] == data.id) { %><img src="img/icons/evidence_experimental.gif" title="Experimentally measured in this article"/>
			<% } else if (data["connected_id"]) { %><img src="img/icons/evidence_referenced.gif" title="Measured in another article"/>
			<% } else if (data["autoEvidence"]=="true") { %><img src="img/icons/evidence_similar.gif" title="Similar record exists"/>
			<% } else { %><img src="img/icons/evidence_none.gif" title="No evidence specified"/>
			<% } %>
			<a onclick="return false;" class="p-link"><%=data.property["name"]%></a>
			 <%=predicate%> 
			 <%=printedValue%>&nbsp;<%=unit.name%>
			 <div class="article-data">
				 <% if (authors.length > 0)  { %>
				 	<a onclick="return false;" title="<% for (var i = 0; i < authors.length; i++) { %><%=authors[i]['printed-name']%>, <% } %>">
				 		<%=authors[0]['printed-name']%>
				 	</a>
				 <% } %>
				 <br/>
				 <a onclick="return false;" title="<%=data.article.title%>"><%=data.article.title.substr(0, 60)+"..."%></a><br/>
				 <%=(data["art-mol-id"]) ? "N: "+data["art-mol-id"]+"&nbsp;" : "" %>
				 <%=(data["art-page-num"]) ? "P: "+data["art-page-num"]+"&nbsp;" : "" %>
				 <%=(data["art-table-num"]) ? "T: "+data["art-table-num"]+"&nbsp;" : "" %>
				 <%=(data["art-line-num"]) ? "L: "+data["art-line-num"]+"&nbsp;" : "" %>
				 <br/>
				 <%if (data.article.journal) {
					var jrn = (data.article.journal.abbreviation) ? data.article.journal.abbreviation : data.article.journal.title;	
					%><%=jrn%>
				<%}%>
						<b><%=data.article['publication-date'].year%></b>; <%=data.article.volume%> (<%=data.article.issue%>) <%=data.article.pageNumbers%>
			</div>
			<div class="right-label" nowrap="true" style="white-space: nowrap;">
			<% if (data.introducer != undefined && data.introducer != data.owner) 
					{ %><%=data.introducer%>
					<a action="popup" link="dialogue/dialogue.do?user=<%=data.introducer%>&subject=similar_record" title="send message">
						<img src="img/icons/email_icon.gif"/></a> / 
					<% }if(data.owner != undefined){%><%=data.owner%>
					<a action="popup" link="dialogue/dialogue.do?user=<%=data.owner%>&subject=similar_record" title="send message"><img src="img/icons/email_icon.gif"/></a>
					<%}%>
				</div>
				<div class="molname" >
				<% for (var i = 0; i < length; i++) { %>
					<% if (names[i].validation == "1") { %> 
						<font style="color:green" title="<%=colorinfo_green%>"><%=names[i].name%></font>   		
					<% } else if (names[i].validation == "2") { %> 
						<font style="color:#994433" title="<%=colorinfo_red%>"><%=names[i].name%></font>   		
					<% } else if (names[i].validation == "3") { %> 
						<font style="color:#6699CC" title="<%=colorinfo_blue%>"><%=names[i].name%></font>   		
					<% } else if (names[i].validation == "4") { %> 
						<font style="color:#005C00" title="<%=colorinfo_dark_green%>"><%=names[i].name%></font>   		
					<% } else { %>
						<font style="color:black" title="<%=colorinfo_black%>"><%=names[i].name%></font>
					<% } %>
					<% if (i < (length -1)) { %>, <% } %>
				<% } %> 	
			</div>
		</td>
	</tr>
</table>